<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th width="5%">Id</th>
                    <th width="50%">Category Name</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCategory of categories">
                    <td>
                        <p>{{ tempCategory.id}}</p>
                    </td>
                    <td>
                        <p>{{tempCategory.categoryName}}</p>
                    </td>
                    <td>
                        <button routerLink="/categories" class="au-btn-submit" >
                            Update
                        </button>
                        <button routerLink="/categories" class="au-btn-submit" >
                            Remove
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

